@{
    ViewData["Title"] = "Fabrication of truck and car parts at a great price";
}

<div id="homeCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xml:space="http://www.w3.org/2000/svg" aria-aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#777"/>
            </svg>

            <div class="container">
                <img src="/images/241460796_925479038312168_3506462661262811924_n.jpg" class="d-block img-fluid" alt="https://www.instagram.com/darkrnr/"/>
                <div class="carousel-caption text-start">
                    <h1>4Runner Hybrid Bumper</h1>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/images/167049419_237454658066071_1544225515864665161_n.jpg" class="d-block" alt="https://www.instagram.com/carbon_shocks/" width="540" height="540">
        </div>
        <div class="carousel-item">
            <img src="/images/253435181_1465664323827115_4338790207306256727_n.jpg" class="d-block" alt="https://www.instagram.com/bajadesigns/" width="540" height="675">
        </div>
        <div class="carousel-item">
            <img src="/images/250020194_1020218132095001_1696130530657112597_n.jpg" class="d-block" alt="https://www.instagram.com/ds18_official_/" width="480" height="480">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
